@media (max-width: 800px){
	:root {
		--fsSmall:    10px;
		--fsNormal:   14px;
		--fsReduced:  12px;
		--fsEnlarged: 16px;
	}

	/* Utility */
	.vertical-hide {
		display: none;
	}

	/* Application Framework */
	#container {
		flex-flow: column-reverse;
	}
	#content {
		width: initial;
		border-right: none;
	}

	/* Navigation */
	#nav {
		flex-flow: row;
		border-top: 1px solid var(--clrBorder);
		border-right: none;
	}
	#nav > * {
		flex: auto;
		margin-bottom: 0;
	}

	/* Event */
	.pfp { /* TODO sync up with userpic */
		width: 44px;
		height: 44px;
		font-size: 2.2em;
	}

	/* Post Tools */
	#newpost > :first-child {
		width: 0;
	}
}
