/* Hello welcome to my styles. Here are some notes.
 *
 *  - I use Noto Sans because it supports most languages.
 *  - I will implement light mode first and then attempt dark.
 *  - All variables should be declared at the top.
 *  - Use as little as possible, write from scratch, and utilize helper 
 *    classes.
 *  - No transpilers!
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap');

:root {
	/* Colors */
	--clrBg:          #fff;
	--clrPanel:       #f9f9f9;
	--clrBorder:      #f2f2f2;
	--clrBtn:         #202020;
	--clrText:        #202020;
	--clrTextLight:   #868686;
	--clrTextLighter: #abb4ca;
	--clrHeart:       #ff5050;
	--clrWarn:        #fbc560;

	/* Font Sizes */
	--fsSmall:    12px;
	--fsNormal:   16px;
	--fsReduced:  14px;
	--fsEnlarged: 18px;

	/* Font Families */
	--ffDefault: "Noto Sans", sans-serif;

	/* Z Layers */
	--zDefault: 0;
	--zPFP:     1;
	--zHeader:  2;
	--zGlobal:  3;
	--zModal:   4;
}
*:focus-visible {
	/* Technically this is bad and something else should be done to indicate
	 * that something is in focus.
	 */
	outline: none;
}
body {
	background: var(--clrBg);
	color: var(--clrText);
	font-family: "Noto Sans", sans-serif;
	font-size: var(--fsNormal);
	margin: 0;
	padding: 0;
}

/* Utilities */
.flex-fill {
	flex: auto;
}
.flex-noshrink {
	/*flex-shrink: 0;*/
	flex: none;
}
.hide {
	display: none;
}
.loader {
	font-size: 24px;
}
button.action:disabled {
	cursor: default;
	background-color: var(--clrTextLight);
}
button {
	background: #171717;
	cursor: pointer;
}
button.icon {
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}
button.icon > img.icon {
	/* Remove the space below the image. */
	display: block;
	margin: 0 auto;
}
button.action {
	border: none;
	border-radius: 50px;
	background: #171717;
	padding: 10px 15px;
	font-size: 16px;
	color: white;
	font-weight: 800;
}
.float-right {
	float: right;
}
.clickable {
	cursor: pointer;
}
.bottom-border { /* TODO rename to bdr-bottom */
	border-bottom: solid 1px var(--clrBorder);
}
.sticky {
	position: sticky;
	top: 0;
}
.event-message {
	background: #f2f2f2;
	padding: 10px;
	border-radius: 12px;
	color: #444;
}

/* Icon */

img.invert {
	/* This class is good for white on black icons; */
	filter: invert(1);
}

/* Navigation */
#nav {
	border-right: 1px solid var(--clrBorder);
	padding: 10px;
}
#nav > div {
	position: sticky;
	top: 16px;
	display: flex;
	flex-flow: column;
}
#nav > div > * {
	margin-bottom: 20px;
	padding: 10px;
}
#app-icon-logo > img {
	width: 36px;
	height: 36px;
}
button.nav > img.icon {
	width: 28px;
	height: 28px;
}
#gnav {
	display: none;
	position: fixed;
	bottom: 55px;
	right: 55px;
	z-index: var(--zGlobal);
}
#gnav button {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	border-radius: 50%;
	background: var(--clrText);
	color: var(--clrBg);	
	padding: 10px;
	border: transparent 5px solid;
	transition: top 0.05s linear;
	transform: translateX(-50%) translateY(-50%);
	z-index: calc(var(--zGlobal) - 1);
}
#gnav button > .icon {
	width: 28px;
	height: 28px;
}
#gnav button[role="open-gnav"] {
	z-index: var(--zGlobal);
	padding: 15px;
}
#gnav.open button[role="sign-out"] {
	top: -75px;
}
#gnav.open button[role="explore"] {
	top: -150px;
}
#gnav.open button[role="home"] {
	top: -225px;
}

/* Application Framework */
#container {
	display: flex;
	flex-flow: row;
}
#view {
	flex-shrink: 0;
	border-right: 1px solid var(--clrBorder);
	width: 750px;
	min-height: 100vh;
}
#view header {
	position: sticky;
	top: 0;
	z-index: var(--zHeader);
	background: var(--clrBg);
}
#view header > label {
	padding: 15px;
	font-size: 22px;
	font-weight: 800;
	display: block;
}

/* Events & Content */
.event {
	display: flex;
	flex-direction: row;
	padding: 15px;
	transition: background-color 0.2s linear;
}
.event:hover {
	background-color: var(--clrPanel);
}
.loading-events {
	text-align: center;
	padding: 15px;
}
.userpic { /* TODO remove .userpic and use helper class */
	flex-shrink: 1;
}
.pfp {
	width: 64px;
	height: 64px;
	position: relative;
	border-radius: 50%;
	z-index: var(--zPFP);
	object-fit: fill;
}
.pfp.deleted {
	font-size: 32px;
	color: var(--clrBg);
	background: var(--clrText);
}
.pfp.deleted > i {
	top: 40%;
	left: 50%;
	position: relative;
	transform: translateX(-50%) translateY(-50%);
}

.event-content {
	flex: 1;
	padding-left: 15px;
}
.event-content > .info {
	display: inline-block;
}
.username {
	font-weight: 800;
	font-size: var(--fsReduced);
}
.chatroom-name {
	font-weight: bold;
}
.deleted-comment {
	margin-top: 10px;
}
.line-bot {
	width: 3px;
	height: 100%;
	position: relative;
	top: -7px;
	left: calc(50% - 1px);
	background-color: var(--clrBorder);
}
.quote {
  margin-left: 10px;
  padding: 10px;
  display: block;
}

#replying-to {
	max-height: 200px;
	overflow-y: scroll;
}

#replybox {
	margin-top: 10px;
	border-top: 1px solid var(--clrBorder);
}

.timestamp, .replying-to, .boosted-by {
	font-size: var(--fsSmall);
	color: var(--clrTextLight);
}
.comment {
	word-break: break-word;
}

.inline-img {
	width: 100%;
	max-height: 300px;
	object-fit: contain;
}

.action-bar {
}
.action-bar > button {
	margin-right: 25px;
	color: var(--clrTextLighter);
	font-size: var(--fsNormal);
}
.reactions {
	margin-bottom: 15px;
}

.reaction-group {
	display: inline-flex;
	align-items: center;
	border: 2px solid var(--clrBorder);
	padding: 4px;
	border-radius: 5px;
}

.reaction-group img {
	width: 18px;
	height: 18px;
	object-fit: cover;
	border-radius: 50%;
	margin-left: -8px;
	vertical-align: top;
}

.reaction-group img:first-of-type {
	margin-left: 0px;
}

.reaction-emoji {
	margin-right: 4px;
}

.action-bar button.icon {
	transition:	color 0.3s linear;
}
.action-bar button.icon:hover {
	color: var(--clrText);
}
.action-bar button.heart:hover {
	color: var(--clrHeart);
}

details.cw summary {
	cursor: pointer;
	outline: none;
	margin-bottom: 10px;
}

/* Thread Expansion */
.thread-collapsed {
	padding: 15px; 
}

/* Modal */
.modal {
	position: fixed;
	z-index: var(--zModal); 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	background: rgba(0,0,0,0.4);
	opacity: 1;
	transition: opacity 0.2s linear;
}
.modal.closed {
	opacity: 0;
	pointer-events: none;
}
.modal-content {
	padding: 20px;
	overflow: auto;
	border-radius: 15px;
	background: var(--clrPanel);
	max-width: 700px;
	margin: 0 auto;
	margin-top: 35px;
}
.modal header {
	display: flex;
}
.modal header label {
	font-weight: 800;
	font-size: var(--fsEnlarged);
	flex: 1;
}
.modal header button {
	font-size: 24px;
}

/* Post & Reply */
#newpost {
	padding: 0px 15px 15px;
	display: flex;
	flex-direction: row;
	border-bottom: solid 1px var(--clrBorder);
}
#newpost > :first-child {
	width: 64px;
}
#newpost > :last-child {
	padding-left: 15px;
	flex: 1;
}
textarea.post-input {
	display: block;
	width: 100%;
	border: none;
	background: transparent;
	color: var(--clrText);
	font-size: var(--fsEnlarged);
	font-family: var(--ffDefault);
	margin: 10px 0;
	padding: 0;
	box-sizing: border-box;
	resize: vertical;
}

.post-tools {
	text-align: right;
}
.post-tools > button.icon {
	margin-right: 10px;
	font-size: var(--fsEnlarged);
	color: var(--clrTextLight);
}
.post-tools > button.icon.cw.active {
	color: var(--clrWarn);
}
input[type="text"].cw {
	border: none;
	border-bottom: solid 2px var(--clrWarn);
	font-size: var(--fsReduced);
}

