*:focus-visible {
	/* Technically this is bad and something else should be done to indicate
	 * that something is in focus.
	 */
	outline: none;
}

body {
	background: var(--clrBg);
	color: var(--clrText);
	font-family: "Noto Sans", sans-serif;
	font-size: var(--fsNormal);
	margin: 0;
	padding: 0;
}

#gsticker {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
}

/* Navigation */
#nav {
	border-right: 1px solid var(--clrBorder);
	padding: 10px;
}
#nav > div {
	position: sticky;
	top: 16px;
	display: flex;
	flex-flow: column;
}
#nav > div > * {
	margin-bottom: 20px;
	padding: 10px;
	position: relative;
}
#nav > div[data-active] img.active {
	display: none;
}
#nav > div[data-active="home"] [role="home"] img.inactive,
#nav > div[data-active="explore"] [role="explore"] img.inactive,
#nav > div[data-active="notifications"] [role="notifications"] img.inactive {
	display: none;
}
#nav > div[data-active="home"] [role="home"] img.active,
#nav > div[data-active="explore"] [role="explore"] img.active,
#nav > div[data-active="notifications"] [role="notifications"] img.active {
	display: block;
}
#app-icon-logo > img {
	width: 36px;
	height: 36px;
}
button.nav > img.icon {
	width: 28px;
	height: 28px;
}
#gnav {
	display: none;
	position: fixed;
	bottom: 55px;
	right: 55px;
	z-index: var(--zGlobal);
}
#gnav button {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	border-radius: 50%;
	background: var(--clrText);
	color: var(--clrBg);	
	padding: 10px;
	border: transparent 5px solid;
	transition: top 0.05s linear;
	transform: translateX(-50%) translateY(-50%);
	z-index: calc(var(--zGlobal) - 1);
}
#gnav button > .icon {
	width: 28px;
	height: 28px;
}
#gnav button[role="open-gnav"] {
	z-index: var(--zGlobal);
	padding: 15px;
}
#gnav.open button[role="home"] {
	top: -300px;
}
#gnav.open button[role="explore"] {
	top: -225px;
}
#gnav.open button[role="notifications"] {
	top: -150px;
}
#gnav.open button[role="notifications"] .new-notifications {
	right: 9px;
}
#gnav.open button[role="sign-out"] {
	top: -75px;
}

.new-notifications {
	position: absolute;
	top: 10px;
	right: 13px;
	border-radius: 13px;
	background: #20ff00;
	color: white;
	font-weight: 800;
	width: 5px;
	height: 5px;
}

/* Application Framework */
#container {
	display: flex;
	flex-flow: row;
}
#view {
	flex-shrink: 0;
	border-right: 1px solid var(--clrBorder);
	width: 750px;
	min-height: 100vh;
}
#view header {
	position: sticky;
	top: 0;
	z-index: var(--zHeader);
	background: var(--clrBg);
}
#view header > label {
	padding: 15px;
	font-size: 22px;
	font-weight: 800;
	display: block;
}

/* Events & Content */
.event {
	display: flex;
	flex-direction: row;
	padding: 15px;
	transition: background-color 0.2s linear;
}
.event:hover {
	background-color: var(--clrPanel);
}
.loading-events {
	text-align: center;
	padding: 15px;
}
.userpic { /* TODO remove .userpic and use helper class */
	flex-shrink: 1;
}
.pfp {
	width: 64px;
	height: 64px;
	position: relative;
	border-radius: 50%;
	z-index: var(--zPFP);
	object-fit: cover;
}
.pfp.deleted {
	font-size: 32px;
	color: var(--clrBg);
	background: var(--clrText);
}
.pfp.deleted > i {
	top: 40%;
	left: 50%;
	position: relative;
	transform: translateX(-50%) translateY(-50%);
}

.event-content {
	flex: 1;
	padding-left: 15px;
}
.event-content > .info {
	display: inline-block;
}
.username {
	font-weight: 800;
	font-size: var(--fsReduced);
}
.chatroom-name {
	font-weight: bold;
}
.deleted-comment {
	margin-top: 10px;
}
.line-bot {
	width: 3px;
	height: 100%;
	position: relative;
	top: -7px;
	left: calc(50% - 1px);
	background-color: var(--clrBorder);
}
.quote {
  margin-left: 10px;
  padding: 10px;
  display: block;
}

#replying-to {
	max-height: 200px;
	overflow-y: scroll;
}

#replybox {
	margin-top: 10px;
	border-top: 1px solid var(--clrBorder);
}

.timestamp, .replying-to, .boosted-by {
	font-size: var(--fsSmall);
	color: var(--clrTextLight);
}
.comment {
	word-break: break-word;
}

.inline-img {
	width: 100%;
	max-height: 300px;
	object-fit: contain;
}

.action-bar > button {
	margin-right: 25px;
	opacity: 0.5;
}
.reactions {
	margin-bottom: 15px;
}

.reaction-group {
	display: inline-flex;
	align-items: center;
	border: 2px solid var(--clrBorder);
	padding: 4px;
	border-radius: 5px;
}

.reaction-group img {
	width: 18px;
	height: 18px;
	object-fit: cover;
	border-radius: 50%;
	margin-left: -8px;
	vertical-align: top;
}

.reaction-group img:first-of-type {
	margin-left: 0px;
}

.reaction-emoji {
	margin-right: 4px;
}

.action-bar button.icon {
	transition:	opacity 0.3s linear;
}
.action-bar button.icon:hover {
	opacity: 1;
}
.action-bar button.heart:hover {
	/* TODO fix heart color */
}

details.cw summary {
	cursor: pointer;
	outline: none;
	margin-bottom: 10px;
}

/* Thread Expansion */
.thread-collapsed {
	padding: 15px; 
}
.thread-summary {
	text-align: center; 
}
.thread-summary img.icon {
	opacity: 0.6;
	position: relative;
	top: 1px;
}

/* Modal */
.modal {
	position: fixed;
	z-index: var(--zModal); 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	background: rgba(0,0,0,0.4);
	opacity: 1;
	transition: opacity 0.2s linear;
}
.modal.closed {
	opacity: 0;
	pointer-events: none;
}
.modal-content {
	padding: 20px;
	overflow: auto;
	border-radius: 15px;
	background: var(--clrPanel);
	max-width: 700px;
	margin: 0 auto;
	margin-top: 35px;
}
.modal header {
	display: flex;
}
.modal header label {
	font-weight: 800;
	font-size: var(--fsEnlarged);
	flex: 1;
}
.modal header button {
	font-size: 24px;
}

/* Post & Reply */
#newpost {
	padding: 0px 15px 15px;
	display: flex;
	flex-direction: row;
	border-bottom: solid 1px var(--clrBorder);
}
#newpost > :first-child {
	width: 64px;
}
#newpost > :last-child {
	padding-left: 15px;
	flex: 1;
}
textarea.post-input {
	display: block;
	width: 100%;
	border: none;
	background: transparent;
	color: var(--clrText);
	font-size: var(--fsEnlarged);
	font-family: var(--ffDefault);
	margin: 10px 0;
	padding: 0;
	box-sizing: border-box;
	resize: vertical;
}

.post-tools {
	text-align: right;
}
.post-tools > button.icon {
	margin-right: 10px;
	opacity: 0.5;
}
.post-tools > button.icon.cw.active {
	opacity: 1.0;
}
input[type="text"].cw {
	border: none;
	border-bottom: solid 2px var(--clrWarn);
	font-size: var(--fsReduced);
}

/* Profile */

.pfp.jumbo {
	width: 128px;
	height: 128px;
}
[role="profile-info"] {
	padding: 15px;
	padding-top: 0;
}
.profile-tools {
	flex: 1;
	text-align: right;
}
.profile-tools > button {
	vertical-align: middle;
}
.profile-tools > button.icon {
	margin-right: 20px;
}
p[role="profile-desc"] {
	margin-bottom: 0;
}
label[role="profile-nip5"] {
	margin-top: 15px;
	font-weight: 800;
	display: block;
}

